body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: relative;
    height: 100vh;
}

html {
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

$red: #981E32;
$black: #212121;
$lightblack:#3A3A3A;
$yellow: #EAAB00;
$darkred: #761626;
$show-nav: 1000px;
