@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin transition ($transition-property, $transition-time, $method) {
    transition: $transition-property $transition-time $method;
}
