.footer {
    color: #FFFFFF;
    background: #212121;

    &--title {
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1.07px;
        margin-top: 30px;
        margin-bottom: 11px;
    }

    &--text {
        font-size: .8rem;
        letter-spacing: 0;
        opacity: 0.7;
    }
}

.menu {

    &--button {
        @include size(104px, 116px);
        position: fixed;
        z-index: 99;
    }

    &--text {
        background: #981E32;
        color: #FFFFFF;
        font-size: .9rem;
        letter-spacing: 1.07px;
        line-height: 31px;
    }

}
