.footer--title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.07px;
}

.menu--text {
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1.07px;
    line-height: 31px;
}
