.logo--expunge {
    margin-left: 25px;
    margin-top: 25px;
    z-index: 100;
    position: fixed;

}

.sticky {
    position: sticky;
    background-image: url('/redesign/images/image--main.svg');
    height: 200px;
    background-repeat: no-repeat;
    top: -80px;
}
