.menu {
    z-index: 110;
    position: relative;

    &--button {
        @include size(104px, 116px);
        position: fixed;
    }

    &--list {
        display: flex;
        flex-direction: row;
        height: 80px;
    }

}
