.u-text_details {
    font-size: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

body {
    background: #212121;
    color: #FFFFFF;
    display: grid;
    font-family: 'Roboto Mono', monospace;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 255px);
}

.date {
    font-size: 5rem;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    // background: #9E9E9E;
}

.texture {
    margin: 0;
}

.triangle-pattern {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.vertical-patterns {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.gradient-triangle {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.horizontal-patterns {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.noise-patterns {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.names {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background: #7E7E7E;
}

.initials {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    background: #E2E2E2;
    color: #212121;
}

.primary-details {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    // background: #E0E0E0;
}

.secondary-details {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    // background: #7E7E7E;
}

.tertiary-details {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    // background: #9E9E9E;
}

.remove-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
