.u-bold {
  font-weight: 700;
}

.u-add-margin {
  margin-left: 25px;
  margin-right: 25px;
}

.u-unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.u-block {
  display: block;
}

.u-button-reset {
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: relative;
  height: 100vh;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section.site-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.sticky {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 /4;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

img.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.logo--expunge {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.image--main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.logo--expunge {
  margin-left: 25px;
  margin-top: 25px;
  z-index: 100;
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  background-image: url("../images/image--main.svg");
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  top: -85px;
}

@media only screen and (min-width: 1440px) {
  .sticky {
    height: 115px;
    background-position-y: -300px;
  }
}

@media only screen and (min-width: 900px) {
  .sticky {
    height: 115px;
    background-position-y: -265px;
  }
}

@media only screen and (min-width: 620px) {
  .sticky {
    height: 115px;
    background-position-y: -200px;
  }
}

[data-visible="false"] {
  display: none;
}

.nav-wrapper {
  position: absolute;
  z-index: 101;
}

@media screen and (min-width: 1000px) {
  .nav-wrapper {
    top: 115px;
  }
}

.navigation {
  position: relative;
}

@media screen and (min-width: 1000px) {
  .navigation {
    background-color: #981E32;
    height: 150%;
  }
}

.menu--button {
  position: fixed;
  right: 0;
  top: 0;
  color: #FFFFFF;
  background: #981E32;
  width: 104px;
  height: 114px;
}

.menu--button[aria-expanded="true"] {
  background: #EAAB00;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.menu--button[aria-expanded="true"] .menu-icon--line:nth-child(1) {
  -webkit-transform: translateY(18px) rotate(45deg);
          transform: translateY(18px) rotate(45deg);
}

.menu--button[aria-expanded="true"] .menu-icon--line:nth-child(2) {
  opacity: 0;
}

.menu--button[aria-expanded="true"] .menu-icon--line:nth-child(3) {
  -webkit-transform: translateY(-18px) rotate(-45deg);
          transform: translateY(-18px) rotate(-45deg);
}

@media screen and (min-width: 1000px) {
  .menu--button {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .menu--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 0;
    position: fixed;
    top: 114px;
    right: 0;
    left: 0;
    padding: 0;
    width: 100vw;
  }
  .menu--list[data-visible="true"] {
    -webkit-animation: expand 0.3s ease-in-out forwards;
            animation: expand 0.3s ease-in-out forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 999px) and (max-width: 999px) {
  .menu--list {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 999px) {
  .menu--list:active {
    background: #FFFFFF;
  }
}

@media screen and (min-width: 1000px) {
  .menu--list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 452px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 90px;
  }
}

.menu--text {
  background: #981E32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-indent: 40px;
  line-height: 75px;
  margin-bottom: 1px;
  width: 320px;
  height: 75px;
  letter-spacing: .05rem;
}

@media screen and (max-width: 999px) {
  .menu--text {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 1000px) {
  .menu--text {
    margin: 0;
    font-size: .8rem;
    height: 45px;
    line-height: 70px;
    width: 300px;
  }
}

.menu--text > a {
  width: 320px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.menu--text > a:hover {
  background: #761626;
  color: #FFFFFF;
}

@media screen and (max-width: 999px) {
  .menu--text > a {
    font-size: .9rem;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 375px;
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 375px;
    opacity: 1;
  }
}

.menu-icon--line {
  background-color: white;
  height: 3px;
  margin: 10px auto 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 40px;
}

a.link {
  color: #FFFFFF;
  text-decoration: none;
}

a.link:active {
  color: #212121;
  font-style: italic;
}

@media only screen and (min-width: 1000px) {
  .main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    max-width: 600px;
    height: 370px;
  }
  .text--header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    max-width: 600px;
    height: 570px;
  }
  .text--header {
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.accordion {
  max-width: 560px;
  margin: 0 auto 100px;
  border-top: 1px solid;
}

li.faq--list {
  border-bottom: 1px solid;
  position: relative;
}

p.faq--answer {
  display: none;
  padding: 10px 25px 30px;
  color: #d62d49;
}

a.faq--question {
  width: 100%;
  display: block;
  cursor: pointer;
  text-indent: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.faq--question:after {
  size: 8px, 8px;
  border-right: 1px solid #981E32;
  border-bottom: 1px solid #981E32;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  -webkit-transform: rotate(-45deg)transition(all, 0.2s, ease-in-out);
          transform: rotate(-45deg)transition(all, 0.2s, ease-in-out);
}

a.active:after {
  -webkit-transform: rotate(45deg)transition(all, 0.2s, ease-in-out);
          transform: rotate(45deg)transition(all, 0.2s, ease-in-out);
}

footer {
  height: 380px;
  width: auto;
  z-index: 102;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon--facebook {
  height: 100%;
  margin-left: 5px;
  margin-right: 25px;
}

.icon--youtube {
  height: 100%;
  margin-right: 25px;
}

.icon--linkedin {
  height: 100%;
  margin-right: 25px;
}

.icon--twitter {
  height: 100%;
}

img.logo--warnock {
  height: 25px;
  width: auto;
  margin-bottom: 5px;
  margin-left: 25px;
}

img.logo--advocates {
  height: 35px;
  margin-left: 20px;
}

@media only screen and (min-width: 620px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 250px;
    width: auto;
  }
}

@media only screen and (min-width: 900px) {
  footer {
    height: 130px;
    width: auto;
    bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sponsors {
    margin-right: 30px;
  }
}

.footer {
  color: #FFFFFF;
  background: #212121;
}

.footer--title {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1.07px;
  margin-top: 30px;
  margin-bottom: 11px;
}

.footer--text {
  font-size: .8rem;
  letter-spacing: 0;
  opacity: 0.7;
}

.text--main {
  font-size: .8rem;
  color: #212121;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
}

.text--header {
  font-size: 1.2rem;
  color: #212121;
  letter-spacing: 0.08rem;
}

@media only screen and (min-width: 1440px) {
  .text--main {
    font-size: 1rem;
    color: #212121;
    letter-spacing: 0.08rem;
    line-height: 1.8rem;
  }
  .text--header {
    font-size: 1.8rem;
  }
}

.main {
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: gray;
}
/*# sourceMappingURL=styles.css.map */