// transition

$border: 1px solid;

.accordion {
	max-width: 700px;
	// margin: 0 auto 100px;
	border-top: 1px solid $red;
	padding: 0;
	margin-left: 4vw;
}

.faq {
	&--list {
		border-bottom: 1px solid $red;
		position: relative;
	}

	&--answer {
		display: none;
		padding: 10px 25px 30px;
	}

	&--question {
		width: 90%;
		display: block;
		cursor: pointer;
		user-select: none;
		@include padding(20px, 0, 20px, 0);

		&:after {
			@include size(8px, 8px);
			border-right: 1px solid $red;
			border-bottom: 1px solid $red;
			margin-top: 6px;
			position: absolute;
			right: 10px;
			content: " ";
			top: 17px;
			transform: rotate(-45deg);
			transition: all 0.2s ease-in-out;
		}

	}
}

button.active:after {
	transform: rotate(45deg);
	transition: all 0.2s ease-in-out;
}
