footer {
    height: 380px;
    width: auto;
    z-index: 3;

    @media only screen and (min-width: 620px) {
        display: flex;
        flex-wrap: wrap;
        height: 250px;
        width: auto;
    }

    @media only screen and (min-width: 911px) {
        bottom: 0;
        height: 130px;
        justify-content: space-between;
        width: auto;
    }

    @media screen and (min-width: 1000px) {
        position: fixed;
        width: 100%;
        z-index: 4;
    }
}

.footer {
    &--title {
        @include margin(30px, 25px, 11px, 25px);
    }
}

.icon {
    display: flex;

    &:hover {
        opacity: 0.6;
        transition: opacity 0.5s ease-in-out;
    }

    &--facebook {
        height: 100%;
        width: auto;
        @include margin(0, 25px, 0, 5px);
    }

    &--youtube {
        height: 100%;
        margin-right: 25px;
        width: auto;
    }

    &--linkedin {
        height: 100%;
        width: auto;
        margin-right: 25px;
    }

    &--twitter {
        height: 100%;
        width: auto;
    }
}

img.logo {

    &--warnock {
        height: 25px;
        margin-bottom: 5px;
        margin-left: 25px;
        width: auto;
    }

    &--advocates {
        height: 35px;
        margin-left: 20px;
    }
}

.sponsors {
    margin-right: 30px;
}
