footer {
    height: 380px;
    width: auto;
    z-index: 4;

    @media only screen and (min-width: 620px) {
        display: flex;
        flex-wrap: wrap;
        height: 250px;
        width: auto;
    }

    @media only screen and (min-width: 911px) {
        height: 130px;
        width: auto;
        bottom: 0;
        justify-content: space-between;
    }

    @media screen and (min-width: 1000px) {
        position: fixed;
        width: 100%;


    }
}

.icon {
    display: flex;

    &--facebook {
        height: 100%;
        margin-left: 5px;
        margin-right: 25px;
    }

    &--youtube {
        height: 100%;
        margin-right: 25px;
    }

    &--linkedin {
        height: 100%;
        margin-right: 25px;
    }

    &--twitter {
        height: 100%;
    }
}

img.logo {

    &--warnock {
        height: 25px;
        width: auto;
        margin-bottom: 5px;
        margin-left: 25px;
    }

    &--advocates {
        height: 35px;
        margin-left: 20px;
    }
}

.sponsors {
    margin-right: 30px;
}
