.logo--expunge {
    margin-left: 25px;
    margin-top: 25px;
    z-index: 2;
    position: fixed;
}

.sticky {
    position: sticky;
    background-image: url('../images/image--main.svg');
    background-size: cover;
    height: 200px;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    top: -85px;

    @media only screen and (min-width: 620px) {
        height: 115px;
        background-position-y: -200px;
        background-position-x: -1px;
        top: 0;
    }

    @media only screen and (min-width: 900px) {
        height: 115px;
        background-position-y: -265px;
    }

    @media only screen and (min-width: 1440px) {
        background-position-y: -300px;

    }
}
