.menu {
    z-index: 110;

    &--button {
        position: sticky;
        top: 0;
    }

    &--text {
        width: 320px;
        height: 75px;
        margin-bottom: 1.2px;
        text-align: left;
    }

    &--list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
        list-style-type: none;
        margin: 0;
    }

    &--closed {
        padding: 30px;
        margin-top: 10px;
    }
}
