.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($color: $red, $alpha: 0.4);

}

.text {

    &--second &--third {
        display: none;
    }
}
