.footer {
    background: #212121;
    color: #FFFFFF;

    &--title {
        font-size: .9rem;
        letter-spacing: 1.07px;
        text-transform: uppercase;
    }

    &--text {
        font-size: .8rem;
        letter-spacing: 0;
        opacity: 0.7;
    }

    &--link {
        color: #FFFFFF;
        font-size: .8rem;
        letter-spacing: 0;
        opacity: 0.7;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: rgb(186, 186, 186);
        }

        &:visited {
            color: #FFFFFF;
        }
    }
}

.text {
    &--main {
        font-size: .8rem;
        color: $black;
        letter-spacing: 0.08rem;
        line-height: 1.5rem;
    }

    &--header {
        font-size: 1rem;
        color: $black;
        letter-spacing: 0.05rem;
        line-height: 2rem;
        text-transform: uppercase;
    }

    &--tabs {
        font-size: .85rem;
        color: rgba($color: $red, $alpha: 0.4);
        line-height: 16px;
    }

    @media only screen and (min-width: 1440px) {
        &--main {
            font-size: 1rem;
            line-height: 1.8rem;
        }

        &--header {
            font-size: 1.8rem;
        }
    }
}

.menu {
    &--text {
        line-height: 75px;
        letter-spacing: .05rem;
        text-indent: 40px;

        @media screen and (min-width: $show-nav) {
            font-size: .8rem;
            height: 45px;
            line-height: 70px;
            margin: 0;
            width: 300px;
        }
    }
}

.faq {
    &--question {
        color: $red;
        font-size: .87rem;
        text-align: left;
    }

    &--answer {
        font-size: .87rem;
        color: $lightblack;
        line-height: 20px;
        letter-spacing: .02rem;
    }
}

.first {
    &--answer {
        font-size: .87rem;
        color: $lightblack;
        line-height: 25px;
        letter-spacing: .02rem;
    }

    &--header {
        color: $black;
        font-size: .87rem;
    }
}

.more {
    margin:0;
}
