.footer {
    color: #FFFFFF;
    background: #212121;

    &--title {
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1.07px;
        margin-top: 30px;
        margin-bottom: 11px;
    }

    &--text {
        font-size: .8rem;
        letter-spacing: 0;
        opacity: 0.7;
    }
}

.text {
    &--main {
        font-size: .8rem;
        color: $black;
        letter-spacing: 0.08rem;
        line-height: 1.5rem;
    }

    &--header {
        font-size: 1.2rem;
        color: $black1;
        letter-spacing: 0.08rem;
    }

    @media only screen and (min-width: 1440px) {
        &--main {
            font-size: 1rem;
            line-height: 1.8rem;
        }

        &--header {
            font-size: 1.8rem;
        }
    }
}

.menu {
    &--text {
        text-indent: 40px;
        line-height: 75px;
        letter-spacing: .05rem;

        @media screen and (min-width: $show-nav) {
            margin: 0;
            font-size: .8rem;
            height: 45px;
            line-height: 70px;
            width: 300px;
        }
    }
}

.faq {
    &--question {
        font-size: .9rem;
        text-indent: 15px;
    }

    &--answer {
        font-size: .9rem;
    }
}

a.faq {
    color: $red;
}

.main {
    margin-top: 10px;
    margin-bottom: 40px;
}

a.footer {
    color: white;
    text-decoration: none;
}

a.footer:hover {
    color: gray;
}
