.footer {
    color: #FFFFFF;
    background: #212121;

    &--title {
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1.07px;
        margin-top: 30px;
        margin-bottom: 11px;
    }

    &--text {
        font-size: .8rem;
        letter-spacing: 0;
        opacity: 0.7;
    }
}

.text {
    &--main {
        font-size: 13px;
        color: #212121;
        letter-spacing: 0.93px;
        line-height: 26px;
    }

    &--header {
        font-size: 1.2rem;
        color: #212121;
        letter-spacing: 1px;
        line-height: 31px;
        margin-top: 50px;
    }
}

.menu {

    &--button {
        @include size(104px, 114px);
        background: #981E32;
        z-index: 110;
    }

    &--text {
        background-color: #981E32;
        color: #FFFFFF;
        font-size: .9rem;
        letter-spacing: 1.07px;
        line-height: 75px;
        text-indent: 40px;
        text-align: left;
    }
}

.main {
    margin-bottom: 40px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.icon:hover {
    opacity: 50%;
}
