<footer class="footer">
    <div class="contact">
        <h4 class="footer--title u-add-margin">Contact</h4>
        <a class="footer--link u-add-margin" href="mailto:jon@expungeus.org">jon@expungeus.org</a>
    </div>
   <div class="disclaimer">
        <h4 class="footer--title u-add-margin">disclaimer</h4>
        <p class="footer--text u-add-margin">This site does not constitute a legal service.</p>
   </div>
    <div class="socials">
        <h4 class="footer--title u-add-margin">socials</h4>
        <section class="icon u-add-margin">
              <a class="icon--link icon--facebook" href="https://www.facebook.com/pages/Advocates-for-Children-and-Youth/87277663332?ref=hl"><img src="/images/icon--facebook.svg" alt="Facebook icon."></a>
              <a class="icon--link icon--youtube" href="https://www.youtube.com/user/ACYMaryland"><img src="/images/icon--youtube.svg" alt="Youtube icon."></a>
             <a class="icon--link icon--linkedin" href="https://www.linkedin.com/company/advocates-for-children-and-youth"><img src="/images/icon--linkedin.svg" alt="Linkedin icon."></a>
             <a class="icon--link icon--twitter" href="https://twitter.com/MarylandACY" target="_blank"> <img src="/images/icon--tumblr.svg" alt="Twitter icon."></a>
         </section>
    </div>
    <div class="sponsors">
        <h4 class="footer--title u-add-margin">sponsors</h4>
        <a href="http://warnockfoundation.org/" target="_blank"> <img class=" logo--warnock" src="/images/logo--warnock.png"
            alt="Warnock logo."></a>
        <a href="https://www.acy.org/" target="_blank"><img class="logo--advocates" src="/images/logo--advocates.png" alt="Advocates logo."></a>
    </div>
</footer>
