<footer class="footer">
    <h4 class="footer--title u-add-margin">Contact</h4>
    <a class="footer--text u-add-margin" href="mailto:jon@expungeus.org">jon@expungeus.org</a>
    <h4 class="footer--title u-add-margin">disclaimer</h4>
    <p class="footer--text u-add-margin">This site does not constitute a legal service.</p>
    <h4 class="footer--title u-add-margin">socials</h4>
    <section class="icon u-add-margin">
        <img class="icon--facebook" src="images/icon--facebook.svg" alt="Facebook icon.">
        <img class="icon--youtube" src="images/icon--youtube.svg" alt="Youtube icon.">
        <img class="icon--linkedin" src="images/icon--linkedin.svg" alt="Linkedin icon.">
        <img class="icon--tumblr" src="images/icon--tumblr.svg" alt="Tumblr icon.">
    </section>
    <h4 class="footer--title u-add-margin">sponsors</h4>
    <a href="http://warnockfoundation.org/" target="_blank"> <img class=" logo--warnock" src="images/logo--warnock.png"
            alt="Warnock logo."></a>
    <a href="https://www.acy.org/" target="_blank"><img class="logo--advocates" src="images/logo--advocates.png" alt="Advocates logo."></a>
</footer>
