
<div class= "nav-wrapper">
	<nav class= "navigation">	
			<button id="js-menu-button" aria-controls="js-menu" aria-expanded="false" class="u-button-reset menu--button">
			<span aria-hidden="true" class="menu-icon">
				 <div class="menu-icon--line"></div>
				 <div class="menu-icon--line"></div>
				 <div class="menu-icon--line"></div>
			</span>
		</button>
		
		<ul id="js-menu" class="u-unstyled-list menu--list" aria-hidden="false" data-visible="false" >
			<li class="menu--text"><a href="#" target="_self" class="u-block link" >01 . What is expungement?</a></li>
			<li class="menu--text"><a href="#" target="_self" class="u-block link">02 . Can I expunge my record?</a></li>
			<li class="menu--text"><a href="#" target="_self" class="u-block link">03 . Resources</a></li>
			<li class="menu--text"><a href="/faq" target="_self" class="u-block link">04 . FAQs</a></li>
			<li class="menu--text"><a href="#" target="_self" class="u-block link">05 . About us</a></li>
		</ul>
	</nav>
</div>	
