{# <nav class="navigation">	
<button id="js-menu-button" aria-controls="js-menu" aria-expanded="false" class="u-button-reset menu__button">
			<span aria-hidden="true" class="menu-icon">
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
			</span>
		</button>
		
		<ul id="js-menu" class="u-unstyled-list menu__list" aria-hidden="false" data-visible="false">
			<li class="menu__text"><a href="#" >01. What is expungement?</a></li>
			<li class="menu__text"><a href="#" class="u-block">02. Can I expunge my record?</a></li>
			<li class="menu__text"><a href="#" class="u-block">03. Resources</a></li>
			<li class="menu__text"><a href="#" class="u-block">04. FAQs</a></li>
			<li class="menu__text"><a href="#" class="u-block">05. About us</a></li>
		</ul>
</nav>

{# <a class="menu--button">
    <img class="menu--closed" src="images/menu--closed.svg" alt=" Menu button.">
</a> #}


<!-- <section>
        <ul class="menu--list u-bold u-unstyled-list u-add-margin ">
            <li class="menu--text">01. What is expungement?</li>
            <li class="menu--text">02. Can I expunge my record?</li>
            <li class="menu--text">03. Resources</li>
            <li class="menu--text">04. FAQs</li>
            <li class="menu--text">05. About us</li>
        </ul>
    </section> --> #}
