---
layout: layouts/default.njk
title: 404 | Expunge Maryland 
---

{% include "_nav.html" %}
{% include "_header.html" %}

<section class= "site-wrapper">

    <section class="main">
        <button class="back u-button-reset">Back <div class="back--arrow"> </button>
        <section class="error border u-center"> <h2 class="error--text">Unfortunately we can’t be of further help to you with this information. </h2>
            <section clas="options u-center"
                 <div class="options--flex"
                    <p class="error--option">If you don’t know because you don’t have your official criminal record, you can; see the steps to optaining your arrest information</p>

                    <button class="option--button u-button-reset"><p class="option--text"> See the steps<p> </button>
                </div>
                <div class="options--flex"
                     <p class="error--option">If you already have your criminal record, and you still don’t know the answer, you can check out our resources page to find someone who can help you.</p>
                    <button class="option--button u-button-reset"> <p class="option--text">Resources page<p> </button>
                </div>
            </section>
        </section>
        <button class="restart--button u-button-reset "> <p class="restart--text">Start over<p> </button>
    </section>

{% include "_footer.html" %}

</section>
