---
layout: layouts/default.njk
title: Disclaimer | Expunge Maryland 
---

{% include "_nav.html" %}
{% include "_header.html" %}

<section class= "site-wrapper">
    <section class="main">
        <header class="text--header u-center u-bold u-add-margin">Disclaimer</header>

        <section class="border disclaimer">
            <p class= "disclaimer--text">This website is intended to help clarify expungement in Maryland and does not serve as a substitute for legal advice. It is a good idea to speak to a lawyer if you still have questions about your record and are unsure of how to answer any of the questions in this app. Use of this website does not create an attorney-client relationship.</p>
        </section>
        
        <section class="action">
            <a class="disclaimer--button" href="/question_01"> Let's get started</a>
        </section> 
    </section>

{% include "_footer.html" %}

</section>
