---
layout: layouts/default.njk
title: FAQ | Expunge Maryland 
slug1: /faq/
---

{% include "_nav.html" %}
{% include "_header.html" %}

<section class= "site-wrapper">

<section class="main">
    <header class="text--header u-bold u-add-margin">Frequently Asked Questions</header>
       <ul class="accordion">
	<li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset ">Why is expungement important?</button>
        <div class="faq--answer">
		<p>Expungement gives you a clean slate. Having criminal charges on your record can prevent you from finding employment, public housing, and other government services. Expunging your criminal record can make accessing work, housing, and services easier.</p>
            <ul>
                <li> The Harms of a Criminal Record</li>
                <li>The Harms of a Criminal Record On Employment</li>
            </ul>
            </p>
        </div>
	</li>

	<li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">What do I do if I don’t know all the facts about my criminal record?</button>
        <div class="faq--answer">
		<p>If you do not know the exact charge, date, or outcome of your case, you can search your adult criminal record (including traffic violations) at the State of Maryland Judiciary Case Search. (Disclaimer: if your case was recently resolved, or currently pending, this site might not be updated with that information).</p>
        <p>If you have a juvenile record, you can contact the court that heard your case to get your record.</p>
        </div>
	</li>

	<li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">What is expungeable?</button>
		<p class="faq--answer">The answer to this question is a difficult one. There are many factors that determine if your record is expungeable. This difficulty is why we created ExpungeMaryland. By using this app you will be able to get to the bottom of whether or not your case is expungeable.</p>
	</li>

    <li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">How much does expungement cost?</button>
		<p class="faq--answer">It costs $30 to expunge a single case. However, many people qualify for a fee waiver that makes expungement free. If you are eligible for expungement, your attorney can help you file for a fee waiver.</p>
	</li>

    <li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">How long does the process take?</button>
		<p class="faq--answer">The statute says this process should take you 90 days. But in some jurisdictions, like Baltimore City, it can take up to 8 months.</p>
	</li>

    <li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">What if my criminal record is in a state besides Maryland?</button>
		<p class="faq--answer">ExpungeMaryland.com can only help you expunge your criminal record in Maryland. You’ll need to contact an attorney or legal aid service in the state where your criminal record is for more information.</p>
	</li>

     <li class="faq--list u-unstyled-list">
		<button class="faq--question u-button-reset">Where can I find more information about expungement?</button>
		<ul class="faq--answer">
            <li>Office of the Public Defender has a number of great resources:</li>
             <ul>
                <li>Expungement Information</li>
                <li>Pardon Information</li>
                <li>Shielding a Domestic Violence Record</li>
                <li>Expunging a Traffic Violence with MVA</li>
             </ul>
        <ul>
            <li>Consequences of a Criminal Record</li>
            <li>The Maryland Judiciary has an expungement handbook</li>
            <li>The Department of Pulic Safety can answer some of your questions about pardons.</li>
        </ul>
	</li>
</ul> 
</section>

{% include "_footer.html" %}

</section>
