---
layout: layouts/default.njk
title: Expunge Maryland | HOME
---


{% include "_nav.html" %}

<section class= "site-wrapper">
{% include "_header.html" %}


<section class="main">
    <header class="text--header u-bold">It's time for a do-over!</header>
    <article class="text--main">
        <p>You had a run-in with the criminal system. You may have a criminal record and it may
            be preventing you from bettering your life. </p>
        <p>However, you can do something about it. </p>
        If you meet certain requirements, you can get your criminal record erased through a process called
        expungement. ExpungeMaryland.org is a free online tool which helps determine, through a few simple
        questions, if your record can be expunged. The tool also suggests next steps which often include
        working with a lawyer.
        <p>The entire online review takes less than 5 minutes. Let’s get started!</p>
    </article>
</section>

{% include "_footer.html" %}

</section>
