---
layout: layouts/default.njk
title: Question 2 | Expunge Maryland 
---

{% include "_nav.html" %}
{% include "_header.html" %}

<section class= "site-wrapper">
    <section class="main">
        <button class="back u-button-reset">Back 
            <div class="back--arrow"></div> <hr>
        </button>

        <section class="question">
            <p class="question--text">Were you 18 or older when the incident occurred?</p>
        </section>

        <section class="answers">
            <a class= "answer" href="/result">Yes</a>
            <a class= "answer" href="/question_03">No</a>
            <a class= "answer red" href="/404">I don't know</a>
        </section>
    </section>

{% include "_footer.html" %}

</section>
